*~
*.x
*.o
*.a
*.mod
*.so
*.pyc
*.pyd
*_backup
*_tmp
*.bak
*.idx
*.dat

*.out
*.log
*.npy
*.xsf
*.bin
__pycache__

build
build-*
Build
Build-*

cpp/Build
cpp/Build-*
cpp/build
cpp/build-*

tests/*/common_resources/
tests/*/data/
.aider*
.env

*.pdf
*.png
*.html
*.svg
*.csv


!uff_data.dat
!minima__11000_surf:_NaCl-Cl-hole_16x16_nPBC_(1,1,0)_nloc:_MMFF_32_move_32_NBFF_32_surf_32_gridFF_--_gridFFbSpline_--___replica:_1000_perframe:_100_perVF:_20_EXAMPLE.dat
!minima__11110_surf:_NaCl-Cl-hole_16x16_nPBC_(1,1,0)_nloc:_MMFF_32_move_32_NBFF_--_surf_--_gridFF_--_gridFFbSpline_32___replica:_1000_perframe:_100_perVF:_20_EXAMPLE.dat