*~
*.x
*.o
*.a
*.mod
*.so
*.pyc
*.pyd
*_backup
*_tmp
*.bak

*.out
*.log
*.npy
*.xsf
*.bin
__pycache__

build
build-*
Build
Build-*

cpp/Build
cpp/Build-*
cpp/build
cpp/build-*
.aider*
.env
*.dat
*.npy_cpu
*.npy_gpu
tests/tMMFF/E_yz_scan_C.dat
*.npy_cpu
*.npy_gpu
tests/tMMFF/E_yz_scan_C.dat
*.npy*
*.dat
tests/tMMFF/E_yz_scan_C.dat
