# Constraint positions for combined_systems thermodynamic integration
#
# Format: atom_index  initial_x  initial_y  initial_z  final_x  final_y  final_z

14    15    12.5    2.5  -25    12.5   2.5
39    25    12.5    2.5  40    12.5   2.5
